* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
  background-color: rgb(65, 54, 54);
  color: rgb(250, 250, 239);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

h1,
p {
  text-align: center;
}

main {
  flex-grow: 1;
  display: grid;
  place-content: center;
}

a {
  text-decoration: none;
  color: #81dbb8;
}

a:hover {
  opacity: 0.85;
}

nav {
    width: 100vw;
    margin-top: 0;
    display: flex;
    justify-content: center;
    position: sticky;
}
nav a{
  margin-right: 40px;
}
